<form [formGroup]="contactForm">
  <div fxLayout="column wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <mat-form-field fxFlex>
      <mat-label>Cellphone</mat-label>
      <span matPrefix>+1 &nbsp;</span>
      <input type="tel" matInput placeholder="555-555-1234" formControlName="phone" />
      <mat-error *ngIf="contactForm.controls['phone'].hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
</form>