<div fxLayout="column" fxLayoutGap="10px" fxFlex>
  <div fxFlex="40" fxFlex>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" routerLinkActive="active" [routerLink]="['/login']" routerLinkActive="router-link-active" >Sign In</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      Location box
    </div>
  </div>
  <div fxFlex="30" fxFlex fxLayoutAlign="center center">
    Our process
  </div>
  <div fxFlex="30" fxFlex fxLayoutAlign="center center">
    something else
  </div>
</div>
